h1,p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: center;
}

div{
    width:fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px black solid;
    padding: 10px;
}